<%- include('../partials/header') %>


<h2>Add Ticket</h2>

  <form id="add-review-form" method="POST" action="/flights">
    <label>Seat:</label>
    <input type="text" name="seat">
    <label>Price:</label>
    <input type="Number" name="price">
    <label>Flight:</label>
    <input type="objectID">
    <input type="submit" value="Add Performer">
  </form>
  


<%- include('../partials/footer') %>