<%- include('../partials/header') %>


<h2>Add Ticket</h2>

  <form id="add-review-form" method="POST" action="/flights/<%= flight._id %>/tickets ">
    <label>Seat:</label>
    <input type="text" name="seat">
    <label>Price:</label>
    <input type="Number" name="price">
    <label>Flight:</label>
    
    <input type="hidden" name="flight" value="<% flight %> ">
    
    <input type="submit" value="Add Ticket">
  </form>
  


<%- include('../partials/footer') %>