<!DOCTYPE html>
<html>
  <head>
    <title>Flight Schedule</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flights Schedule</h1>
    <a href="/flights">View Flights</a>
    <a href="/flights/new">Add New Flight</a>
  </body>
</html>
